salesforce-accounts-sys-api/src/main/mule/salesforce-accounts-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	
	<flow name="salesforce-accounts-system-api-main">
		<http:listener
			config-ref="apiHttpListenerConfig"
			path="/api/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<set-variable value='#[attributes.headers."correlationId" default correlationId]' doc:name="TransactionId" doc:id="02b6f0a1-fa46-4a71-a97d-185f2f79be03" variableName="transactionId" />
		<apikit:router
			config-ref="salesforce-accounts-system-api-config" />
	</flow>
	<flow name="salesforce-accounts-system-api-console">
		<http:listener
			config-ref="apiHttpListenerConfig"
			path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console
			config-ref="salesforce-accounts-system-api-config" />
	</flow>
	<flow
		name="put:\accounts\(accountId):application\json:salesforce-accounts-system-api-config">
		<flow-ref doc:name="implementation_create-or-update-account"
			doc:id="d7bd8c1a-3016-4e4c-bb29-55807d337a2b"
			name="implementation_create-or-update-account" />
	</flow>
	<flow
		name="delete:\accounts\(accountId):salesforce-accounts-system-api-config">
		<flow-ref doc:name="implementation_delete-account-by-Id"
			doc:id="cf82c07b-47ea-4924-98b0-b422c35a37dc"
			name="implementation_delete-account-by-Id" />
	</flow>
	<flow
		name="get:\accounts\(accountId):salesforce-accounts-system-api-config">
		<flow-ref doc:name="implementation_get-account-by-id"
			doc:id="5587fc3f-f9b0-4968-94df-cbaab3da00ad"
			name="implementation_get-account-by-id" />
	</flow>
	<flow name="get:\alive:salesforce-accounts-system-api-config">
		<flow-ref doc:name="ping_get-health"
			doc:id="47e5f287-9395-4168-933c-6d10fb098c8d" name="ping_get-health" />
	</flow>
	<flow
		name="post:\accounts:application\json:salesforce-accounts-system-api-config">
		<flow-ref doc:name="implementation_create-or-update-account"
			doc:id="918889bf-0108-448b-aee2-d5dcdd181809"
			name="implementation_create-or-update-account" />
	</flow>
</mule>
