mobile-accounts-exp-api/src/main/mule/mobile-accounts-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="mobile-accounts-experience-api-main">
        <http:listener config-ref="apiHttpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.&quot;correlationId&quot; default correlationId]" doc:name="TransactionId" doc:id="164142fe-3479-4980-8330-08ccb206820f" variableName="transactionId" />
        <apikit:router config-ref="mobile-accounts-experience-api-config" />
    </flow>
    <flow name="mobile-accounts-experience-api-console">
        <http:listener config-ref="apiHttpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mobile-accounts-experience-api-config" />
    </flow>
    <flow name="put:\accounts\(accountId):application\json:mobile-accounts-experience-api-config">
        <flow-ref doc:name="implementation_update-account" doc:id="cb43ce71-0ac6-4d96-b6a0-b35bbf194d66" name="implementation_update-account" />
    </flow>
    <flow name="delete:\accounts\(accountId):mobile-accounts-experience-api-config">
        <flow-ref doc:name="implementation_delete-account" doc:id="8f9a780a-1875-4e9a-b67a-cf8c9b0d039e" name="implementation_delete-account" />
    </flow>
    <flow name="get:\accounts\(accountId):mobile-accounts-experience-api-config">
        <flow-ref doc:name="implementation_retrieve-account" doc:id="c9129041-35f7-4138-b7e4-870ddda2993a" name="implementation_retrieve-account" />
    </flow>
    <flow name="get:\alive:mobile-accounts-experience-api-config">
        <flow-ref doc:name="ping_get-health" doc:id="42c5968b-79fe-4d59-8691-48ec830dca09" name="ping_get-health" />
    </flow>
    <flow name="post:\accounts:application\json:mobile-accounts-experience-api-config">
        <flow-ref doc:name="implementation_create-account" doc:id="4b60a11a-14e9-4be0-9084-350679d196b1" name="implementation_create-account" />
    </flow>
</mule>
